/* https://www.figma.com/file/2WoKYlIBZogIT9YQTv8WEe/website-ds */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --color-bg-primary: #0d1117;
  --color-bg-secondary: #161b22;
  --color-border: #30363d;
  --color-text-primary: #fff;
  --color-text-secondary: #cdcdcd;
  --color-text-pink: #f06;
  --color-text-orange: #ff8400;
  --color-text-green: #6cb52d;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--color-border);
}

.full-width-container {
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content-container {
  display: flex;
  justify-content: space-between;
}

.img-logo {
  width: 120px;
  height: auto;
}

.menu-items {
  list-style-type: none;
  display: none;
  font-weight: 700;
  font-size: 12px;
}

.section-text-container {
  max-width: 728px;
  margin-bottom: 60px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.section-description {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
}

.mb10 {
  margin-bottom: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.color-text-primary {
  color: var(--color-text-primary);
}

.color-text-secondary {
  color: var(--color-text-secondary);
}

.color-text-pink {
  color: var(--color-text-pink);
}

.color-text-orange {
  color: var(--color-text-orange);
}

.color-text-green {
  color: var(--color-text-green);
}

.title-section {
  position: relative;
  height: 360px;
}

.title-section-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-image: url("student-laptop.png");
  background-size: cover;
  background-position: bottom;
}

.title-section-content {
  padding-top: 54px;
  padding-bottom: 54px;
  display: flex;
  height: 100%;
  z-index: 10;
}

.title-section-title {
  color: var(--color-text-orange);
}

.title-section-impact {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
}

.title-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 728px;
}

.title-section-right {
  padding: 0 20px;
  flex: 0 0 40%;
  display: none;
}

.title-section-right-img {
  position: absolute;
  bottom: 0;
  max-height: 85%;
  display: block;
}

.foundation-section {
  padding-top: 54px;
  padding-bottom: 54px;
  background: radial-gradient(
      83.94% 100% at 100% 0%,
      rgba(255, 0, 102, 0.2) 29.97%,
      rgba(0, 0, 0, 0) 100%
    ),
    #0d1117;
}

.foundation-section-title {
  color: var(--color-text-pink);
}

.cards-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
}

.card-course {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
}

.card-course-top img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-course-bottom {
  height: 240px;
  padding: 15px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-course-bottom h3 {
  color: var(--color-text-pink);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card-course-bottom p {
  color: var(--color-text-secondary);
  font-size: 14px;
}

.card-btn-container {
  display: flex;
  justify-content: center;
}

.btn-basic {
  width: 180px;
  height: 50px;
  border: 2px solid var(--color-text-pink);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-basic:hover {
  background-color: var(--color-text-pink);
  cursor: pointer;
}

.main-footer {
  height: 260px;
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .menu-items {
    display: flex;
    gap: 30px;
  }

  .section-title {
    font-size: 18px;
  }

  .section-subtitle {
    font-size: 28px;
  }

  .section-description {
    font-size: 16px;
  }

  .main-footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    gap: unset;
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 20px;
  }

  .section-description {
    font-size: 16px;
  }

  .title-section-right {
    display: unset;
  }

  .title-section-impact {
    text-align: right;
  } 
}

@media (min-width: 992px) {
  .section-subtitle {
    font-size: 36px;
  }

  .title-section-content {
    padding-top: unset;
    padding-bottom: unset;
  }

  .card-course-bottom p {
    font-size: 16px;
  }
}
